
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/abs.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
</head>

<body>
  <div class="navbar">
    <nav>
        <ul>
        <li><a href="/home" class="link">Home</a></li>
        <li><a href="/" class="link">Text Summarizer</a></li>
        <li><a href="/about" class="link">About Us</a></li>
        </ul> 
    <div class="login">
            <a href="/login">Login</a>
    </div>

    </nav>
    
    </div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="team" class="team-area section-padding">
<div class="container">
<div class="section-title text-center">
<h2>Our Team</h2>

</div>
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
<div class="our-team">
<img src="{{ url_for('static',filename='css/IMG_0110.JPG') }}" alt="img1">
<div class="team-content">
<h3 class="title">Kartik Dixit</h3><br>
<p style="font-size: 11px;"><strong>Education:</strong><br>2nd Year Computer Enginnering<br><strong>College:</strong><br>Dr.D.Y.Patil Institute of Techenology<br><strong> Role:</strong><br>Backend Developer and Database manager</p>  

<span class="post"></span>
<ul class="social">
<li><a class="fa fa-facebook" href="#"></a></li>
<li><a class="fa fa-twitter" href="#"></a></li>

</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
<div class="our-team">
<img src="{{url_for('static',filename='css/bb.jpg')}}" alt="img2">
<div class="team-content">
<h4 class="title">Bhairavnath Bhuse</h4><br>
<p style="font-size: 11px;"><strong> Education:</strong><br>2nd Year Computer Enginnering<br><strong>College:</strong><br>Dr.D.Y.Patil Institute of Techenology<br><strong>Role:</strong><br>Backend Desinger</p>  
<span class="post"></span>
<ul class="social">
<li><a class="fa fa-facebook" href="#"></a></li>
<li><a class="fa fa-twitter" href="#"></a></li>

</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
<div class="our-team">
<img src="{{url_for('static',filename='css/pd.jpeg')}}" alt="img3">
<div class="team-content">
<h4 class="title">Prathamesh Deokar</h4><br>
<p style="font-size: 11px;"><strong>Education:</strong><br>2nd Year Computer Enginnering<br><strong>College:</strong><br>Dr.D.Y.Patil Institute of Techenology<br><strong> Role:</strong><br>Ux/Ui developer</p>
<span class="post"></span>
<ul class="social">
<li><a class="fa fa-facebook" href="#"></a></li>
<li><a class="fa fa-twitter" href="#"></a></li>

</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
<div class="our-team">
<img src="{{url_for('static',filename='css/ap.jpeg')}}" alt="img4">
<div class="team-content">
<h3 class="title">Aditya Parab</h3><br>
<p style="font-size: 11px;"><strong>Education:</strong><br>2nd Year Computer Enginnering<br><strong> College:</strong><br>Dr.D.Y.Patil Institute of Techenology<br><strong> Role:</strong><br>Ux/Ui developer</p>  
<span class="post"></span>
<ul class="social">
<li><a class="fa fa-facebook" href="#"></a></li>
<li><a class="fa fa-twitter" href="#"></a></li>

</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
<footer>
    <div class="row primary">
        <div class="column about">
          <h3>Connect</h3>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Pimpri
          </p>
        </p>
        <p>
        <i class="fa fa-envelope"></i> 
        textsummarizer.23@gmail.com 
      </p>
          <div class="social">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-linkedin-square"></i>
           
          </div>
        </div>
      
        <!--<div class="column link">
          <h3>Links</h3>
          <ul class="foot">
            <li class="footlist"><a href="#home">Home</a></li>
            <li class="footlist"><a href="#team">Team</a></li>
            <li class="footlist"><a href="#blogs">Blogs</a></li>
            <li class="footlist"><a href="#support">Support</a></li>
          </ul>
        </div>-->
      
        <!--<div class="column subscribe">
          <h>Newsletter</h3>
          <div>
            <input type="email" placeholder="Your email id here" />
            <button>Subscribe</button>
          </div>
        </div>-->
      </div>
      
</footer>
</body>
</html>